.cabecalho {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 48px;
}

.cabecalhoTitulo {
  font-family: var(--ff-primary);
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 8px;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: var(--clr-gold);
  margin-left: auto;
  margin-right: auto;
}
